<div class="landing">
  {% render 'logo' %}
  <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
  {% if shop.password_message != blank %}
    <h4>{{ shop.password_message | newline_to_br }}</h4>
    <hr/>
  {% endif %}
  {% if section.settings.newsletter_enable %}
    <div class="email">
      {% render 'form-password-landing' %}
    </div>
  {% endif %}
  {% render 'connect', title: 'general.password_page.social_heading' %}
  <hr class="top">
  <a href="#" class="btn solid" data-action="show-login">{{ 'general.password_page.password_link_html' | t }}</a>
  <hr>
  <div class="banner">
    {% capture shopify %}
      <a href="//www.shopify.com" target="_blank" rel="nofollow">
        {% render 'shopify-svg' %}
        <span>Shopify</span>
      </a>
    {% endcapture %}
    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
  </div>
</div>